iminuit
ipykernel
keras
lightgbm
libprotobuf=3.21.12
lz4
matplotlib
numpy
pandas
pyarrow
pytorch-cuda=12.4
pytorch
PyYAML
requests
root=6.28.0
scikit-learn
scikit-optimize
scipy
seaborn
tabulate
tensorboard
tensorflow
torchaudio 
torchvision
tqdm
uproot
uproot3
xgboost
